include doc/*.wsgi
include distribute_setup.py
include synoptic/static/*.js
include synoptic/static/*.gif
include synoptic/static/*.png
include synoptic/static/*.txt
include synoptic/static/*.css
include synoptic/static/jquery-ui/*.js
include synoptic/static/jquery-ui/themes/base/*.css
include synoptic/static/jquery-ui/themes/base/images/*.png

include COPYING
