include doc/*.wsgi
include synoptic/static/*.js
include synoptic/static/*.gif
include synoptic/static/*.png
include synoptic/static/*.txt
include synoptic/static/*.css
include synoptic/schema_ver_repo/*.cfg
include synoptic/static/jquery-ui-css/smoothness/*.css
include synoptic/static/jquery-ui-css/smoothness/images/*.png

include COPYING
