.ui-widget {
  font-size:medium;
}

.key {
  border: 1px outset;
  background-color:#ccc;
  padding-left:2px;
  padding-right:2px;
}

.keyhelp {
  margin-top:0.5ex;
  text-align:center;
  font-family:sans-serif;
}

.ui-state-highlight {
  background: #ffff88 !important;
}

.calendar-now, .fc-agenda .calendar-now .fc-event-time, .calendar-now .fc-event-inner
{ border-color: black; }

.calendar-now .fc-event-inner
{ background-color: yellow; background-image: none; border-color: black; color: black; }
