#main_container {
  border:0;
  margin: 0 auto;
  padding:0;
  position:absolute;

  background-color:#ddd;

  top:0;
  bottom:0;
  left:0;
  right:0;
}

body, html {
  margin: 0;
  border:0;
  padding:0;
}

#navpane {
  background-image: url("navbar-bg.png");
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:250px;

}

#innernavpane {
  padding:5px;
}


#mainpane {
  position:absolute;
  top:0;
  left:250px;
  bottom:0;
  right:0;
}

#items {
  margin-top:5px;
  padding-right:10px;
  position:absolute;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-left:10px;
  right:0;
  top:3em;
  left:0;
  bottom:0;
}

#searchbar {
  padding-left:10px;
}

#hiddenitems {
  display:none;
}

.item {
  background-color:white;
  margin-bottom:5px;
}

.item.collapsed {
  background-color:transparent;
  margin-bottom:5px;
}

.itemcontents {
  padding:5px;
}

.itemcontents p {
  margin-top:0;
  margin-bottom:0.3em;
}

.editbuttons {
  vertical-align:top;
}

.inlineimg
{
  position:relative;
  top:0.5em;
}

.imagebutton
{
  position:relative;
  top:0.7em;

  padding:2px;
  border:1px solid #888;
  background-color:white;
}

.imagebutton:hover
{
  border-style:outset;
  border-bottom-color:#bbb;
  border-right-color:#bbb;
  border-top-color:#ddd;
  border-left-color:#ddd;
}
.imagebutton:active
{
  border-style:inset;
  border-top-color:#bbb;
  border-left-color:#bbb;
  border-bottom-color:#ddd;
  border-right-color:#ddd;
}

.editcontrols {
  padding:2px;
  padding-left:5px;
  background-color:#bbb;
  font-family: Verdana,Arial,sans-serif ;
}

#history_nav {
  padding:10px;
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom:10px;
  background-color:white;
}

#history_time {
  padding-top:3px;
  padding-left:25px;
}

#slider_container {
  width:200px;
  padding:10px;
  padding-top:15px;
}

#logo {
  font-size:24pt;
  font-weight:bold;
  font-family:sans-serif;
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:5px;
}

#logo a {
  color:white;
  text-decoration:none;

}

#messagearea {
  padding-top:3px;
  padding-bottom:3px;
  min-height:2em; 
}

.taglink {
  cursor:pointer;
  /*
  user-select:none;
  -moz-user-select:none;
  */
}

.tagcloud {
  overflow-y:auto;
  overflow-x:hidden;
}

#subtagcloud_search_tags a.taglink {
  color:red;
}

.error {
  padding:5px;
  background-color:#ccc;
  margin-bottom:10px;
}

.error .message {
  font-family:Tahoma, sans-serif;
  font-size:16px;
  font-weight:bold;
  padding-left:28px;
  height: 22px;
  background-image:url("error.png");
  background-repeat:no-repeat;
}

div#linkurl {
  position:relative;
  display:inline;
  top:29px;
  padding:5px;
  background-color:orange;
  border:1px solid brown;
  z-index:100;
  right:300px;
  width:300px;
  visibility:hidden;
}

div#linkurl.shown {
  visibility:visible;
}

#linkurl_edit {
  width:280px;
}

.ui-datepicker {
  z-index: 3;
}

.item.focused .editcontrols {
  background-color:#ace;
}

.item.editing .editcontrols {
  background-image:url("construction.png");
}

.ui-tabs .ui-tabs-panel {
  padding:0.5em;
}

/* cursor-related ----------------------------------------------------------- */
.cursorfield {
  margin-top:3px;
  padding-left:10px;
  background-repeat:no-repeat;
  background-position:left bottom;
}

.item.focused .editcontrols .cursorfield {
  background-image:url("cursor.png");
}

/* collapsing-related ------------------------------------------------------- */

.item .editcontrols .collapser {
  cursor:default;
  padding-left:16px;
  background-image:url("expanded.png");
  background-repeat:no-repeat;
  background-position:left bottom;
}

.item .editcontrols .collapser:hover {
  background-image:url("expanded-hover.png");
}
.item.collapsed .editcontrols .collapser {
  background-image:url("collapsed.png");
}
.item.collapsed .editcontrols .collapser:hover {
  background-image:url("collapsed-hover.png");
}

.item.collapsed .itemcontents {
  display:none;
}

