#main_container {
  border:0;
  margin: 0 auto;
  padding:0;
  position:absolute;

  background-color:#ddd;

  top:0;
  bottom:0;
  left:0;
  right:0;
}

body, html {
  margin: 0;
  border:0;
  padding:0;
}

#navpane {
  background-image: url("navbar-bg.png");
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:250px;
}

#innernavpane {
  padding:5px;
}


#mainpane {
  position:absolute;
  top:0;
  left:250px;
  bottom:0;
  right:0;
}

#items {
  margin-top:5px;
  padding-right:10px;
  position:absolute;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-left:10px;
  right:0;
  top:3em;
  left:0;
  bottom:0;
}

#searchbar {
  padding-left:10px;
}

#hiddenitems {
  display:none;
}

.item {
  clear:right;
  background-color:white;
  margin-bottom:3px;
  min-height:28px;
}

.itemcontents {
  padding:5px;
  margin-left:20px;
}

.itemcontents p {
  margin-top:0;
  margin-bottom:0.3em;
}

.itemcontents p:last-child {
  margin-bottom:0em;
}

.editbuttons {
  vertical-align:top;
}

.inlineimg
{
  position:relative;
  top:0.5em;
}

.imagebutton
{
  position:relative;
  top:0.7em;

  padding:2px;
  border:1px solid #888;
  background-color:white;
}

.imagebutton:hover
{
  border-style:outset;
  border-bottom-color:#bbb;
  border-right-color:#bbb;
  border-top-color:#ddd;
  border-left-color:#ddd;
}
.imagebutton:active
{
  border-style:inset;
  border-top-color:#bbb;
  border-left-color:#bbb;
  border-bottom-color:#ddd;
  border-right-color:#ddd;
}

#history_nav {
  padding:10px;
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom:10px;
  background-color:white;
}

#history_time {
  padding-top:3px;
  padding-left:25px;
}

#slider_container {
  width:200px;
  padding:10px;
  padding-top:15px;
}

#logo {
  font-size:24pt;
  font-weight:bold;
  font-family:sans-serif;
  padding:10px;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:5px;
}

#logo a {
  color:white;
  text-decoration:none;

}

#messagearea {
  padding-top:3px;
  padding-bottom:3px;
  min-height:2em;
}

.taglink {
  cursor:pointer;
  /*
  user-select:none;
  -moz-user-select:none;
  */
}

.tagcloud {
  overflow-y:auto;
  overflow-x:hidden;
}

#subtagcloud_search_tags a.taglink {
  color:red;
}

.error {
  padding:5px;
  background-color:#ccc;
  margin-bottom:10px;
}

.error .message {
  font-family:Tahoma, sans-serif;
  font-size:16px;
  font-weight:bold;
  padding-left:28px;
  height: 22px;
  background-image:url("error.png");
  background-repeat:no-repeat;
}

div#linkurl {
  position:relative;
  display:inline;
  top:29px;
  padding:5px;
  background-color:orange;
  border:1px solid brown;
  z-index:100;
  right:300px;
  width:300px;
  visibility:hidden;
}

div#linkurl.shown {
  visibility:visible;
}

#linkurl_edit {
  width:280px;
}

.ui-datepicker {
  z-index: 3;
}

.editcontrols {
  text-align:right;
  padding:3px;
  background-color:#bbb;
  font-family: Verdana,Arial,sans-serif ;
  float:right;
  min-height:22px;
  margin-bottom:3px;
}

.item.editing .editcontrols {
  text-align:left;
}

.item.history_shown .editcontrols .editcontrols_top {
  min-height:25px;
}

.item_history_button {
  display:none;
  padding-left:18px;
  background-image:url("history.png");
  background-repeat:no-repeat;
  background-position:left bottom;
}

.item.history_shown .editcontrols .editcontrols_top .item_history_button {
  background-image:url("history-active.png");
  display:inline;
}

div.item_history {
  display:none;
  background-color:#888;
  padding:3px;
}

.item.focused .editcontrols .item_history {
  background-color:#8ac;
}

.item.history_shown div.item_history {
  display:block;
}

.editcontrols .editcontrols_top input {
  display:none;
}

.editcontrols:hover .editcontrols_top input {
  display:inline;
}

.editcontrols:hover .editcontrols_top .item_history_button {
  display:inline;
}

.item#item_null .editcontrols .editcontrols_top input {
  display:inline;
}

.item.editing .editcontrols .editcontrols_top input {
  display:inline;
}

.item.editing .editcontrols {
  background-image:url("construction.png");
  float:none;
}

.item#item_null .editcontrols {
  padding-left:25px;
}

.item#item_null .editcontrols {
  float:none;
  text-align:left;
}

.item.focused .editcontrols {
  background-color:#ace;
}

.item.editing .editcontrols {
  background-image:url("construction.png");
  float:none;
}

.ui-tabs .ui-tabs-panel {
  padding:0.5em;
}

.item_history {
  text-align:right;
}

.itemcontents textarea {
  width: 95%;
}

/* cursor-related ----------------------------------------------------------- */
.cursorfield {
  margin-top:3px;
  padding-left:15px;
  padding-top:2px;
  background-repeat:no-repeat;
  background-position:left bottom;
  position:absolute;
}

.item.focused .cursorfield {
  background-image:url("cursor.png");
  background-position:5px 2px;
}

.item.focused {
  background-color:#ececff;
}

/* collapser ---------------------------------------------------------------- */

.item .editcontrols .editcontrols_top .collapser {
  display:none;
  cursor:default;
  padding-left:18px;
  background-image:url("expanded.png");
  background-repeat:no-repeat;
  background-position:left bottom;
}
.item .editcontrols:hover .editcontrols_top .collapser {
  display:inline;
}

.item .editcontrols .collapser:hover {
  background-image:url("expanded-hover.png");
}
.item.collapsed .editcontrols .editcontrols_top .collapser {
  background-image:url("collapsed.png");
}
.item.collapsed .editcontrols .editcontrols_top .collapser:hover {
  background-image:url("collapsed-hover.png");
}

.item.collapsed .itemcontents {
  height:2ex;
  max-height:2ex;
  overflow:hidden;
}

/* item handle -------------------------------------------------------------- */

.item_handle {
  display:none;
  padding-left:18px;
  background-image:url("dragger.png");
  background-repeat:no-repeat;
  background-position:left bottom;
}

.item .editcontrols:hover .editcontrols_top .item_handle {
  display:inline;
}

/* history ------------------------------------------------------------------ */
.item_history {
  text-align:left;
}

.item_history ul {
  list-style-type:none;
  padding-left:0;
  margin-top:0;
  margin-bottom:0;
}

.item_history ul li.current_version {
  font-weight:bold;
}

.item_history ul li a:hover {
  text-decoration:underline;
  cursor:pointer;
}

/* autocomplete ------------------------------------------------------------- */

.ac_results {
        padding: 0px;
        border: 1px solid black;
        background-color: white;
        overflow: hidden;
        z-index: 99999;
}

.ac_results ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
}

.ac_results li {
        margin: 0px;
        padding: 2px 5px;
        cursor: default;
        display: block;
        /*
        if width will be 100% horizontal scrollbar will apear
        when scroll mode will be used
        */
        /*width: 100%;*/
        font: menu;
        font-size: 12px;
        /*
        it is very important, if line-height not set or set
        in relative units scroll will be broken in firefox
        */
        line-height: 16px;
        overflow: hidden;
}

.ac_loading {
        background: white url('busy.gif') right center no-repeat;
}

.ac_odd {
        background-color: #eee;
}

.ac_over {
        background-color: #0A246A;
        color: white;
}
