.itemcontents h1 {
  font-size:1.5em;
  margin-top:0.2em;
}
.itemcontents h2 {
  font-size:1.3em;
  margin-top:0.1em;
}
.itemcontents h3 {
  font-size:1.2em;
  margin-top:0.1em;
}
.itemcontents h4 {
  font-size:1.1em;
  margin-top:0.1em;
}

strike {
  color:gray;
}

