#innernavpane {
  padding:5px;
}

#navpane {
  background-color: #ddf;
  width:250px;
  float:left;
}

#innermainpane {
  padding-left:10px;
}

#mainpane {
  /* width:75%; */
  float:left;
}

#items {
  margin-top:5px;
}

.editbuttons {
  vertical-align:top;
}

.error {
  font-weight:bold;
  color:red;
}

.ac_results {
  background-color:#eef;
}

.ac_results ul{
  list-style-type:none;
  padding:5px;
  margin:0;
  border:0;
  border-style:solid;
  border-color:#000;
  border-left-width:1px;
  border-bottom-width:1px;
  border-right-width:1px;
  font-family:sans-serif;
}

.ac_results ul li.ac_over{
  background-color:#00e;
  color:#fff;
}

.imagebutton
{
  padding:2px;
  position:relative;
  top:0.7em;
  border-width:1px;
  border-style:solid;
  border-color:white;
}

.imagebutton:hover
{
  border-style:outset;
  border-bottom-color:#bbb;
  border-right-color:#bbb;
  border-top-color:#ddd;
  border-left-color:#ddd;
}
.imagebutton:active
{
  border-style:inset;
  border-top-color:#bbb;
  border-left-color:#bbb;
  border-bottom-color:#ddd;
  border-right-color:#ddd;
}

.edit_div {
  background-color:#ddf;
  border-width:0;
  border-bottom-width:5px;
  border-style:solid;
  border-color:white;
}

.editcontrols {
  background-color:#ddf;
  padding:2px;
}

#history_nav {
  padding:10px;
  background-color:white;
}

#slider_container {
  width:220px;
}
