#main_container {
  border:0;
  margin: 0 auto;
  padding:0;
  position:absolute;

  top:0;
  bottom:0;
  left:0;
  right:0;
}

body, html {
  margin: 0;
  border:0;
  padding:0;
}

#navpane {
  background-color: #ddf;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:250px;
}

#innernavpane {
  padding:5px;
}


#mainpane {
  position:absolute;
  top:0;
  left:260px;
  bottom:0;
  right:0;
}

#innermainpane {
  padding-left:10px;
}


#items {
  margin-top:5px;
  position:absolute;
  overflow:scroll;
  right:0;
  top:3em;
  left:0;
  bottom:0;
}

.editbuttons {
  vertical-align:top;
}

.ac_results {
  background-color:#eef;
}

.ac_results ul{
  list-style-type:none;
  padding:5px;
  margin:0;
  border:0;
  border-style:solid;
  border-color:#000;
  border-left-width:1px;
  border-bottom-width:1px;
  border-right-width:1px;
  font-family:sans-serif;
}

.ac_results ul li.ac_over{
  background-color:#00e;
  color:#fff;
}

.inlineimg
{
  position:relative;
  top:0.5em;
}

.imagebutton
{
  position:relative;
  top:0.7em;

  padding:2px;
  border-width:1px;
  border-style:solid;
  border-color:white;
}

.imagebutton:hover
{
  border-style:outset;
  border-bottom-color:#bbb;
  border-right-color:#bbb;
  border-top-color:#ddd;
  border-left-color:#ddd;
}
.imagebutton:active
{
  border-style:inset;
  border-top-color:#bbb;
  border-left-color:#bbb;
  border-bottom-color:#ddd;
  border-right-color:#ddd;
}

.edit_div {
  background-color:#ddf;
  border-width:0;
  border-bottom-width:5px;
  border-style:solid;
  border-color:white;
}

.editcontrols {
  background-color:#ddf;
  padding:2px;
}

#history_nav {
  padding:10px;
  background-color:white;
}

#slider_container {
  width:220px;
}

#logo {
  font-size:24pt;
  font-weight:bold;
  font-family:sans-serif;
  padding-bottom:3px;
}

#messagearea {
  padding-top:3px;
  padding-bottom:3px;
  min-height:2em; 
}

.taglink {
  cursor:pointer;
  /*
  user-select:none;
  -moz-user-select:none;
  */
}


#subtagcloud_search_tags a.taglink {
  color:red;
}

.error {
  padding:5px;
  background-color:#eee;
  margin-bottom:10px;
}

.error .message {
  font-family:Tahoma, sans-serif;
  font-size:16px;
  font-weight:bold;
  padding-left:28px;
  height: 22px;
  background-image:url("error.png");
  background-repeat:no-repeat;
}

div#linkurl {
  position:relative;
  display:inline;
  top:29px;
  padding:5px;
  background-color:orange;
  border:1px solid brown;
  z-index:100;
  right:300px;
  width:300px;
  visibility:hidden;
}

div#linkurl.shown {
  visibility:visible;
}

#linkurl_edit {
  width:280px;
}

/* dragging-related --------------------------------------------------------- */
.dragging {
  background-color:lightgray;
}

.dragging .editcontrols {
  background-color:lightgray;
}

.draghandle {
  display:inline;
  cursor:default;
  position:relative;
  top:0.2em;
  cursor:move;
}

.dropzone {
  position:absolute;
  min-height:9px;
  left:25%;
  width:50%;
  visibility:hidden;
  text-align:center;
}

.dropzone-active {
  background-color:#ccc;
  outline:1px inset;
  visibility:visible;
}

.dropzone-hover {
  background-color:#eee;
  outline:1px outset;
}

/* cursor-related ----------------------------------------------------------- */
.cursorfield {
  padding-left:14px;
  background-repeat:no-repeat;
}

.editcontrols.hascursor {
  background-color:#bbe;
}

.editcontrols.hascursor .cursorfield {
  background-image:url("cursor.png");
}

/* collapsing-related ------------------------------------------------------- */

.item .editcontrols .collapser {
  cursor:default;
  padding-left:16px;
  background-image:url("expanded.png");
  background-repeat:no-repeat;
}

.item .editcontrols .collapser:hover {
  background-image:url("expanded-hover.png");
}
.item.collapsed .editcontrols .collapser {
  background-image:url("collapsed.png");
}
.item.collapsed .editcontrols .collapser:hover {
  background-image:url("collapsed-hover.png");
}

.item.collapsed .itemcontents {
  display:none;
}
